#############
## Backups do StarUML e do MySQL Workbench
#############

# Star UML
.~ml

# MySQL Workbench
.bak

#############
## Arquivos do Sublime Text
##############

.sublime-project
.sublime-workspace

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# E depois adicionamos mais